.rules-container::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

/* Estilo do "thumb" (a parte da barra de rolagem que você pode arrastar) */
.rules-container::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* Cor de fundo do thumb */
  border-radius: 10px; /* Bordas arredondadas */
  cursor: pointer;
}

/* Estilo quando o usuário passa o mouse sobre o thumb */
.rules-container::-webkit-scrollbar-thumb:hover {
  background-color: #d4d4d4; /* Cor do thumb quando em hover */
}

/* Estilo da parte vazia da barra de rolagem */
.rules-container::-webkit-scrollbar-track {
  background: #646464; /* Cor de fundo da pista de rolagem */
  border-radius: 10px; /* Bordas arredondadas */
}




.server-models {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 5%;
  }

  #teste {
    margin-top: -10%;
  }
  
  .button-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
  }

 

  .rule-title {
    color: #007bff;
    text-align: center;
    font-size: 26px;
    margin-top: 5px;

  }

  #btn-jb {
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/948458317604378259/E8CCBA0A2003A99F7CA3288860D1EA171093F48B/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    box-sizing: border-box;
  }

  .rules-title-color {
    color: #007bff;
    text-align: center;
    font-size: 30px;
    margin-top: 0;
  }

  #btn-ze {
    background-image: url('https://i.imgur.com/lDvwOBW.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
  }

  
  
  .custom-button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    transition: filter 0.3s ease, background-color 0.3s;
    filter: grayscale(100%);
    width: 270px;
    min-height: 110px;
  }

  @media (max-width: 580px) {
    .custom-button {
        width: 170px;
        height: 100px;
        margin-top: 30px;
    }
  }
  @media (max-width: 380px) {
    .custom-button {
      width: 140px;
      height: 70px;
    }
  }
  
  .custom-button.active {
    background-color: #007bff;
    filter: none;
    border-bottom: 4px solid #fff;
  }
  
  .custom-button:hover {
    background-color: #555;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .tracking-image {
    transition: all 0.3s ease-in-out; /* Animação suave */
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .tracking-image {
      background-size: auto 100%; 
      background-position: left center; 
      
  }
  .infos-servers > p{
    font-size: 18px;
    margin: 5px;
  }
  .infos-servers > h3 {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .infos-servers > h3 {
    font-size: 18px;
  }
  .infos-servers > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
    .tracking-image {
        background-size: auto; /* Quando a tela for bem pequena, a imagem irá encolher para se ajustar */
        background-position: left top; /* A imagem vai se alinhar à parte superior esquerda */
        width: 100%;  /* A imagem ocupará 100% da largura do contêiner */
        
    }
}
  
  .tracking-container,
  .description-container,
  .rules-container {
    width: 100%;
    max-width: 800px;
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
  animation: slideUp 0.5s ease-out forwards;
  }

  .open-modal-button {
    background-color: yellow;
    border: none;
    outline: none;
    color: #01468f;
    margin: 10px;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s ease transform;
  }
  
  .open-modal-button:hover {
    transform: scale(1.1);
  }

  @keyframes slideIn {
    0% {
      transform: scale(0.1); 
      opacity: 0; 
    }
    70% {
      transform: scale(1.02); 
      opacity: 1;
    }
    100% {
      transform: scale(1); 
      opacity: 1;
    }
  }
 
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    
  }
  
 
  .modal-content {
    background-color: black;
    padding: 20px;
    
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 80vh;
    color: white;
    position: relative;
    animation: slideIn .45s ease-out;
  }
  
  
  .close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
  }
  


.styled-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    color: white;
   
  }
  
  th,
  td {
    border: 1px solid white; /* Bordas brancas */
    padding: 8px;
    
    text-align: center;
  }
  
  th {
    background-color: #1e1e1e; /* Fundo escuro para os títulos */
    text-transform: uppercase;
    letter-spacing: 1px;
   
  }
  
  tr:nth-child(even) td {
    background-color: #121212; /* Fundo um pouco mais claro para linhas alternadas */
  }
  
  tr:hover td {
    background-color: #333333; /* Fundo de hover */
    cursor: pointer;
  }

  .player-table-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .toggle-icon-table:hover {
    background-color: #013567;
  }

  .toggle-icon-table {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    color: #fff;
    background-color: #01468f;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 999999;
    transition: background-color 0.3s ease;
  }

  .rules-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rule-description {
    margin-bottom: 20px; 
  display: block; 
  text-align: left; 
  width: 100%;

  }

  .description-container {
    position: relative;
    
  }

  .texts-description {
      font-size: 20px;
  }

  .description-container-img {
    float: right;
  }

  .description-container-img > img {
    width: 173px;
    height: 173px;
  }

  .tracking-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 200px;
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease transform;
    opacity: 0;
  animation: slideUp 0.5s ease-out forwards;
  }
  
  .infos-servers {
    max-width: 50%;
    font-size: 22px;

  }

  .infos-servers > h3 {
    margin-top: 20px;
  }

  @keyframes slideUp {
    0% {
      opacity: 0; 
      transform: translateY(20px); 
    }
    100% {
      opacity: 1; /* Elemento completamente visível no final */
      transform: translateY(0); /* Elemento na posição original */
    }
  }

  @keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
  }
  
  .rules-container {
    max-height: 400px;
    overflow-y: auto;
    opacity: 0;
  animation: slideUp 0.5s ease-out forwards;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
    white-space: pre-wrap; /* Para preservar quebras de linha nas regras */
  }

  .tracking-side-options {
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    z-index: 99999999999999999999999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .connect-to-server {
    background-color: yellow;
    border: none;
    outline: none;
    color: #01468f;
    margin: 10px;
    font-size: 30px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s ease transform;
  }


  .connect-to-server:hover {
    transform: scale(1.1);
  }

  .connect-to-server.copied {
    background-color: #32cd32; /* Verde claro */
    color: white;
}

.checkmark-icon {
    position: absolute;
    bottom: -10px; /* Começa abaixo do botão */
    left: 35%;
    transform: translateX(-40%);
    width: 40px;
    height: 40px;
    animation: slide-up .3s forwards; /* Animação do checkmark */
}

@keyframes slide-up {
    0% {
        bottom: -15px; /* Começa fora da tela */
        opacity: 0;
    }
    100% {
        bottom: 1px; /* Posição final dentro do botão */
        opacity: 1;
    }
}

.connect-to-server.copied .icon-original {
    opacity: 0; /* Torna o ícone original invisível durante a animação */
}

/* Animação de fundo do botão (para mudar para verde claro) */
.connect-to-server.copied {
    animation: backgroundChange .5s forwards;
}

@keyframes backgroundChange {
    0% {
        background-color: yellow;

    }
    100% {
        background-color: #32cd32; 
    }
}

  


  .tracking-side-options .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tracking-side-options .tooltip .tooltip-text {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
  

    position: absolute;
    bottom: 15%; 
    left: -130%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  
  .tracking-side-options .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

