@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.yt-uix-sessionlink {
    display: none;
  }
  
  /* Se ainda aparecer o título, você pode usar isso */
  .ytp-title {
    display: none;
  }

  .ytp-chrome-bottom,
.ytp-title,
.ytp-play-button,
.ytp-pause-button,
.ytp-progress-bar,
.ytp-time-display {
  display: none !important;
}

/* Esconde o título do vídeo também no hover */
.yt-uix-sessionlink,
.ytp-title,
.ytp-subtitles-button,
.ytp-fullscreen-button,
.ytp-settings-button {
  display: none !important;
}

/* Impede a exibição de controles e título durante o hover */
.video-container:hover .ytp-chrome-bottom {
  display: none !important;
}


.video-container {
  display: flex; /* Organiza itens lado a lado */
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* Permite quebra de linha em telas pequenas */
  color: #fff;
  min-width: 70%;
  background-color: rgb(14, 14, 14);
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.video-container.visible {
  animation: slideUp 0.4s ease-out forwards;
}

.text-content {
  flex: 1; /* Texto ocupa espaço restante */
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  max-width: 50%;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

.text-content > p {
  margin-bottom: 5px;
}

.video-wrapper {
  flex: 0 0 45%; /* Garante que o vídeo fique à direita e ocupe até 45% da largura */
  max-width: 640px; /* Limite máximo para o vídeo */
  aspect-ratio: 16 / 9; /* Proporção 16:9 para responsividade */
  position: relative; /* Necessário para iframe responsivo */
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* Responsividade para telas menores */
@media (max-width: 1540px) {
  .video-container {
    flex-direction: column; /* Empilha texto e vídeo verticalmente */
    align-items: center;
   
  }
  

  .text-content {
    max-width: 100%;
    margin-right: 0;
  }

  .video-wrapper {
    flex: none;
    width: 100%;
    margin-top: 20px;
  }
}
  .btn {
    background-color: #fff; 
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    margin-top: 15px;
  }
  .button-container > button{
        margin-right: 15px;
        margin-top: 15px;
  }
  
  .btn:hover {
    background-color: rgb(26, 26, 26);
    color: #fff; 
  }
  
  


  @keyframes slideUp {
    0% {
      opacity: 0; 
      transform: translateY(30px); 
    }
    100% {
      opacity: 1; /* Elemento completamente visível no final */
      transform: translateY(0); /* Elemento na posição original */
    }
  }